<div  class="index-container">
  <div class="buttons">

<ul>
  
   <a class="mi-button btn btn-primary" href="/beers">Check the Beers!</a>
        <a class="mi-button btn btn-primary" href="/random">Check a Random Beer!</a>
  

</ul>
    <div class="beer">
      <img src="/images/beer.png" alt="Beer">
      
    </div> 
  </div>
</div>

