<div  class="index-container">
  <div class="buttons">

<ul>
  <li><a href="index">Home</a></li>
  <li><a href="beers">Beers</a></li>
  <li><a href="random-beers">Random Beers</a></li>

</ul>
    <div class="beer">
      <img src="/images/beer.png" alt="Beer">
      
    </div> 
  </div>
</div>
